@model EmployeeManagement.Models.Employee


@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<body>
    <div>
        @Model.Name
    </div>
    <div>
        @Model.Department
    </div>
    <div>
        @Model.Email
    </div>
</body>
